body {
	font-family: 'Georgia', sans-serif;
	line-height: 1.6;
	color: black;
}

.main-nav {
  display: inline;
}
/*=====================================
  Media Queries
===================================== */
.portfolio-1-image {
  float:right;
  width: 267px;
  height: 175px; 
 
}
.portfolio-2-image {
  float:left;
  width: 267px;
  height: 175px; 
}
.portfolio-3-image {
  float: right;
  width: 267px;
  height: 175px; 
}
.portfolio-4-image {
  float: left;
  width: 267px;
  height: 175px;
}
.portfolio-5-image {
  float: right;
  width: 267px;
  height: 175px;
}
.portfolio-6-image {
  float: left;
  width: 267px;
  height: 175px;
}


.main-footer {
  text-align:center;
 
}
 
