body {
	font-family: 'Georgia', sans-serif;
	line-height: 1.6;
	color: black;
}

h1 {
  font-size: 25px;
  color: black;
}
 .portfolio-1-image {
  float: right;
}

/*=====================================
  Media Queries
===================================== */
.portfolio-1-image {
  float: right;
}
.portfolio-2-image {
  float: left;
}
.portfolio-3-image {
  float: right;
}
.portfolio-4-image {
  float: left;
}
.portfolio-5-image {
  float: right;
}
.portfolio-6-image {
  float: left;
}

 .name,
  .main-nav,
  .main-nav li{
   display: inline;
   
}
   
  .name {
  width: 240px;
  margin-right: 900px;
}
    
 
  
  .portfolio-3-image,
  .portfolio-6-image {
  width: 20%;
  margin-right: 900px;
}
  
